.header__link-list {
    padding: 33px 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__link-titlle > a{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
.home > a{
    font-size: 18px;
line-height: 22px;
color: #070707;
}
hr{
    margin-bottom: 40px;
}
@media only screen and (max-width:450px){
    .header-inner{
        display: none;
    } 
}